.jumbotron
    margin-bottom: 0px

.contact-left
    background-color: #FFFFFF
    padding: 100px


.contact-right
    background-color: #F6FAFD
    margin: 0 auto
    padding: 100px

.form-control
    background-color: #F6FAFD!important