        <section>
        <div class="container">
        <div class="sponsors text-center">
        <h3>Our Team of Sponsors</h3>
        <div class="variable-width slider">
        <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://www.tecnifibre.com/"><img src="img/tecnifibre.png" alt="Tennis Sponsors"></a></div>
        <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://www.bnol.co.nz/"><img src="img/bnol.png" alt="Tennis Sponsors"></a></div>
        <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://www.tecnifibre.com/"><img src="img/visique.png" alt="Tennis Sponsors"></a></div>
        <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://peterdick.co.nz/"><img src="img/hot.png" alt="Tennis Sponsors"></a></div>
        <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://mcarthursymons.co.nz/"><img src="img/mas.png" alt="Tennis Sponsors"></a></div>
        </div>
        </div>
        </div>
        </section>