---
layout: default
---

<section>
<div class="container">
  <div class="row page-content">
    <div class="col-md-8 index-main-content">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">
  {% for post in site.posts %}
  <div class="carousel-item active">
    <img src="{{ post.page_image }}" alt="...">
    <div class="carousel-caption">
      <h2>{{ post.page_title }}</h2>
      <p>{{ post.page_description }}</p>
    </div>
  </div>
  {% endfor %}

</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>




    </div>
    <div class="col-md-4 side-content">

      <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item left-tab">
      <a class="nav-link sidebar-link active" data-toggle="pill" href="#home">Recent News</a>
    </li>
    <li class="nav-item right-tab">
      <a class="nav-link sidebar-link" data-toggle="pill" href="#menu1">Find a Club</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active fade-in"><br>
      <div class="row club-links">
        <div class="col-md-12 col-sm-12">
          <a href="#">View More</a>
        </div>
      </div>
    </div>
    <div id="menu1" class="container tab-pane fade-in"><br>
      <div class="row club-links">
        <div class="col-md-3 col-sm-12">
          <a href="https://www.facebook.com/AndersonsBayTennis/?epa=SEARCH_BOX" target="_blank"><img class="club-logo" src="img/andybay.png" alt=""></a>
        </div>
        <div class="col-md-9 col-sm-12">
          <a href="https://www.facebook.com/AndersonsBayTennis/?epa=SEARCH_BOX" target="_blank"><h5>Anderson's Bay Tennis Club</h5></a>
          <p>Shore St (next to Bayfield High School)</p>
        </div>
      </div>

      <div class="row club-links">
        <div class="col-md-3 col-sm-12">
          <a href="https://www.balmactennis.co.nz/" target="_blank"><img class="club-logo" src="img/balmacewen.png" alt=""></a>
        </div>
        <div class="col-md-9 col-sm-12">
          <a href="https://www.balmactennis.co.nz/" target="_blank"><h5>Balmacewen Tennis Club</h5></a>
          <p>125 Balmacewen Rd, Maori Hill</p>
        </div>

      </div>

      <div class="row club-links">
        <div class="col-md-3 col-sm-12">
          <a href="https://www.cosydelltennis.co.nz/" target="_blank"><img class="club-logo" src="img/cosydell.png" alt=""></a>
        </div>
        <div class="col-md-9 col-sm-12">
          <a href="https://www.cosydelltennis.co.nz/" target="_blank"><h5>Cosy Dell Tennis Club</h5></a>
          <p>1 Kyle St, North Dunedin,</p>
        </div>
      </div>
      <div class="row club-links">
        <div class="col-md-3 col-sm-12">
          <a href="http://taieritennis.co.nz/" target="_blank"><img class="club-logo" src="img/taieri.png" alt=""></a>
        </div>
        <div class="col-md-9 col-sm-12">
          <a href="http://taieritennis.co.nz/" target="_blank"><h5>Taieri Tennis Club</h5></a>
          <p>10A Wickliffe St, Mosgiel</p>
        </div>
      </div>
    </div>

  </div>

  </div>

    </div>
    </div>
</section>

<section class="services">

</section>

  <div class="container">
<div class="sponsors text-center">
  <h3>Our Team of Sponsors</h3>

<div class="variable-width slider">
  <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://www.tecnifibre.com/"><img src="img/tecnifibre.png" alt="Tennis Sponsors"></a></div>
  <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://www.bnol.co.nz/"><img src="img/bnol.png" alt="Tennis Sponsors"></a></div>
  <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://www.tecnifibre.com/"><img src="img/visique.png" alt="Tennis Sponsors"></a></div>
  <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://peterdick.co.nz/"><img src="img/hot.png" alt="Tennis Sponsors"></a></div>
  <div class="slider-item"><a class="hvr-grow" target="_blank" href="https://mcarthursymons.co.nz/"><img src="img/mas.png" alt="Tennis Sponsors"></a></div>
</div>
</div>
</div>
</section>
